.homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.homeContainer h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.homeContainer span {
    color: #FFBB33;
    padding: 0 .2em;
    background-color: #222;
}

.homeContainer p {
    margin: 1.5em;
    color: #7B7B7B;
}

.homeContainer img {
    width: 350px;
    margin: 2em 0;
}